<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/authentication">#Angular-Firebase-Authentication</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li data-ng-if="!$root.currentUser"><a data-toggle="collapse" data-target="#navbar" href="#/authentication">Login</a></li>
                <li data-ng-if="$root.currentUser"><a data-toggle="collapse" data-target="#navbar" href="#/user">Profile</a></li>
                <li data-ng-if="$root.currentUser"><a data-toggle="collapse" data-target="#navbar" href="#" data-ng-click="vm.logOut()">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-if="$root.currentUser" class="pull-right"><a href="#"> Hi {{$root.currentUser.firstname}}</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
