.budget-app {
    // Utils
    @import 'app/sass/colors.scss';
    @import 'app/sass/utils.scss';
    // Views
    @import 'app/sass/nav-menu.scss';
    body {
        background: $blue-50;  
        color: $blue-900;
        font-weight: 300;        
    }
}